* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}
.chat_window {
  position: absolute;
  overflow: hidden;
  width: calc(100% - 20px);
  max-width: 700px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  /* right: 8%; */
  /* top: 45%; */
  z-index: 1;
  right: 11%;
  top: 50%;
  transform: translateX(10%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
  height: 20%;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  cursor: pointer;
  background-color: #f5886e;
}
.top_menu .buttons .button.close:hover {
  background-color: #b30a3c;
}
.top_menu .buttons .button.minimize {
  cursor: pointer;
  background-color: #fdbf68;
}
.top_menu .buttons .button.minimize:hover{
  /* color : #f5886e; */
  background-color: #df851f;
}
.top_menu .buttons .button.maximize {
  cursor: pointer;
  background-color: #a3d063;
}
.top_menu .buttons .button.maximize:hover {
  background-color: #7fbb00;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  /* height: 347px; */
  height : calc(100% - 100px);
  overflow: auto;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 1;
  /* opacity: 0; */
}
.messages .message.left .avatar {
  background-color: white;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  word-break: break-all;
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: white;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
  /*  */
  /* text-align: right; */
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  word-break: break-all;
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  /* padding: 20px; */
  padding: 0px 20px 20px 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  /* position: absolute; */
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}
#img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.menu {
  float: left;
  width: 20%;
  height: 88%;
  border-right: 1px solid gray;
  text-align: center;
  overflow: auto;
}
.content {
  float: left;
  width: 80%;
  height: 88%;
}
#ulUser{
  width: 100%;
  padding-left: 0px;
}
#usersUl{
  /* height: 20%; */
  color:  green;
  font-weight: normal;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.user {
  width: 100%;
  color:  #45829b;
  font-weight: bold;
  font-size: 20px;
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}
.user:hover {
  color: #a3d063;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.user-name {
  font-size: 20px;
  color: red;
}

.messages .message.left .text .textB{
  font-weight: bold;
  padding-top: 8px;
}
.messages .message.right .text .textB{
  font-weight: bold;
  padding-top: 8px;
  text-align: right;
}
#imgUser{
  height: 30px;
  width: 30px;
  padding-top: auto;
  padding-bottom: auto;
  border-radius: 50%;
}
@media (max-width:1024px){
  .chat_window{
    max-width: 600px;
    height: 450px;
    right: 11%;
    top: 55%;
  }
}
@media (max-width:900px){                                  
  .chat_window{
    max-width: 550px;
    height: 400px;
  }
}
@media (max-width:480px){                                  
	.chat_window{
    max-width: 500px;
    height: 370px;
  }
} 